@charset "utf-8";


 html, body {
    max-width: 100vw; 
    overflow-x: hidden; 
    margin: 0;
    padding: 0;
}
* {
	 box-sizing: border-box; 
 }	 
body {
    font-family: Brutalista, sans-serif;
	background:black;        
    margin: 0; 
    min-height: 100vh; 
    padding: 40px; 
   
	
}
h1, h2 {
    font-family: Brutalista, sans-serif;
	word-wrap: break-word;
	max-width: 100%;
	text-align: center;
	color:gold;
}

summary {
    list-style: none;
    cursor: pointer;
}

nav { 
  font-family: 'Alegreya', serif;
  display: flex;
  flex-wrap: wrap; /* Les liens passent à la ligne sur mobile */
  justify-content: space-between; /* Ou center selon ton besoin */
  align-items: center;
  padding: 15px 20px;
  margin-bottom: 30px;
}

nav a {
  text-decoration: none;
  color: gold;
  font-size: 28px;
  font-weight: bold;
}
nav a:hover {
	transform: scale(1.2);
}
@keyframes tv-glitch {
	0% {
		background-position: 50% 50%;
		filter: hue-rotate(0deg);
	}
	20% {
		background-position: 48% 52%;
		filter: hue-rotate(90deg) contrast(150%);
	}
	40% {
		background-position: 52% 48%;
		filter: hue-rotate(0deg);
	}
	60% {
		background-position: 49% 51%;
		filter: invert(20%);
	}
	80% {
		background-position: 51% 49%;
		filter: hue-rotate(-90deg);
	}
	100% {
		background-position: 50% 50%;
		filter: hue-rotate(0deg);
	}
}
marquee {
	font-size: 45px;
	padding: 30px;
	color:gold;
}
marquee:hover {
	background-image: url('file:///D:/jul/provisoire/bug televiseur.jpg');
	background-size: 100% 100%; 
	background-repeat: no-repeat;
	animation: tv-glitch 0.2s infinite steps(2);
}

li {
	margin: 15px;
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }
	nav a {
        font-size: 16px; /* Menu plus petit pour pas qu'il se chevauche */
    }
	h1 {
        font-size: 24px; /* Réduit le gros titre "Bienvenue..." */
    }
}

.top a {
	color:gold;
	text-decoration: none;
}	
.top li::marker {
    color: gold; 
}
footer {
	color: gold;
	font-style: italic;
	text-align: center;
	margin-top: 50px; 
	padding: 20px; 
	font-size: 12px;
	border-top: 1px solid gold;
}
